[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
python-dotenv = "*"
jishaku = "*"
tortoise-orm = {extras=["asyncpg"], version="*"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
coloredlogs = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
